<style>
  div {
    height: 45px;
    background-color: #494949;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  div h4 {
    text-align: center;
    position: relative;
    bottom: 9px;
    color: #fff;
  }
</style>

<div>
  <h4>Discovering Rails</h4>
</div>
