<nav>
  <div class="top-navbar">
    <ul class="left-items">
      <li><span>News</span></li>
      <li>Conferences</li>
      <li>New York</li>
      <li>Index</li>
      <li>TQ</li>
      <li>Deals</li>
      <li>Answers</li>
      <li>TNW X</li>
    </ul>
    <ul class="right-items">
      <li>About</li>
      <li>Team</li>
      <li>Advertise</li>
      <li>Jobs</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="bottom-navbar">
    <ul class="left-items">
      <li>Latest</li>
      <li>Insights</li>
      <li>Distract</li>
      <li>Full stack</li>
      <li>Investing 2.0</li>
    </ul>
    <ul class="right-items">
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-ellipsis-h" aria-hidden="true"></i></li>
      <li><i class="fa fa-search" aria-hidden="true"></i></li>
    </ul>
  </div>
</nav>

<section class="news">
  <div class="news-container">
    <div class="left-news">
      <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/1-yL0tae2GDtFMBEznE3_I3Q-796x407.png" alt="">
    </div>
    <div class="right-news">
      <div class="right-top-news">
        <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/Facebook-Creator-796x398.jpg" alt="">
      </div>
      <div class="right-bottom-news">
        <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/11/Tesla-Roadster-hed-796x398.jpg" alt="">
      </div>
    </div>
  </div>
</section>
