<nav>
  <div id="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div id="logo">
    <p>FR</p>
  </div>
  <form action="search">
    <input type="text" name="request">
    <input type="submit" value="Search">
  </form>
  <div id="buttons">
    <i class="material-icons">file_upload</i>
    <i class="material-icons">apps</i>
    <i class="material-icons">notifications</i>
    <div id="profile"><p>R</p></div>
  </div>
</nav>

<div id="video">
  <div id="player">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <h3>Rick Astley - Never Gonna Give You Up</h3>
  <p class="views">370 164 832 vues</p>
  <div id="video-stats">
    <div id="likes">
      <i class="material-icons">thumb_up</i><p>2M</p>
      <i class="material-icons">thumb_down</i><p>112K</p>
    </div>
    <div id="interactions">
      <i class="material-icons">reply</i><p>Partager</p>
      <i class="material-icons">playlist_add</i>
      <i class="material-icons">more_horiz</i>
    </div>
  </div>
  <div id="infos">
    <div id="profile-pic"></div>
    <p id="name">RickAstleyVEVO</p>
    <p id="added">Ajoutée le 24 oct. 2009</p>
    <a href="#" id="submit">S'abonner <span>510K</span></a>
    <p id="description">
      Rick Astley - Never Gonna Give You Up (Official Music Video) - Listen On Spotify: <a href="http://smarturl.it/AstleySpotify">http://smarturl.it/AstleySpotify</a><br>
      Download Rick's Number 1 album "50" - <a href="https://BMG.lnk.to/RickAstley50NG/itunes">https://BMG.lnk.to/RickAstley50NG/itunes</a>
    </p>
    <a href="#">Plus</a>
  </div>
</div>

<div id="related">
  <h4>À suivre</h4>
  <p id="auto-play">Lecture automatique</p>
  <div id="toggle-play">
    <div id="toggle-button"></div>
    <div id="toggle-bar"></div>
  </div>
  <div class="related-video">
    <a href="https://www.youtube.com/watch?v=3M_5oYU-IsU">
      <img  src="https://i.ytimg.com/vi/3M_5oYU-IsU/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDOwiBCTJ1zdSLpCex_eyegqH6nQQ" alt="">
      <div class="thumb-info">
        <h5>BIG SHAQ - MANS NOT HOT (MUSIC VIDEO)</h5>
        <a href="#" class="user-name">Michael Dapaah</a>
        <p class="views">44M vues</p>
        <i class="material-icons see-more">more_vert</i>
      </div>
    </a>
  </div>
  <div class="related-video">
    <a href="">
      <img  src="https://i.ytimg.com/vi/rp4UwPZfRis/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCh0vVabNdpjD0VnyuHG91VCFBb3g" alt="">
      <div class="thumb-info">
        <h5>Rihanna - Unfaithfull</h5>
        <a href="#" class="user-name">RihannaVEVO</a>
        <p class="views">300M vues</p>
        <i class="material-icons see-more">more_vert</i>
      </div>
    </a>
  </div>
  <div class="related-video">
    <a href="https://www.youtube.com/watch?v=DG9_pVQaJKY">
      <img  src="https://i.ytimg.com/vi/DG9_pVQaJKY/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAE8u_IPujVRHbM1EGALlv6kqS2xA" alt="">
      <div class="thumb-info">
        <h5>Fat Larry's Band - Act Like You Know</h5>
        <a href="#" class="user-name">HierKoennenSieWerben</a>
        <p class="views">13M vues</p>
        <i class="material-icons see-more">more_vert</i>
      </div>
    </a>
  </div>
  <div class="related-video">
    <a href="https://www.youtube.com/watch?v=CduA0TULnow">
      <img  src="https://i.ytimg.com/vi/CduA0TULnow/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDszqXvyd0GBQZpdipa-zkMRvxiaw" alt="">
      <div class="thumb-info">
        <h5>Britney Spears - Oops!...I Did It Again (Official Video)</h5>
        <a href="#" class="user-name">BritneySpearsVEVO</a>
        <p class="views">155M vues</p>
        <i class="material-icons see-more">more_vert</i>
      </div>
    </a>
  </div>
  <div class="related-video">
    <a href="https://www.youtube.com/watch?v=sKoBpDM9S8c">
      <img  src="https://i.ytimg.com/vi/sKoBpDM9S8c/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBLExwGQF4yg5Q4EkVgQWoOkRskCw" alt="">
      <div class="thumb-info">
        <h5>Chemise - She Can't Love You</h5>
        <a href="#" class="user-name">Paul Cartel</a>
        <p class="views">6,7M vues</p>
        <i class="material-icons see-more">more_vert</i>
      </div>
    </a>
  </div>
  <div id="more-videos"><p>Plus</p></div>
</div>

<div id="comments">
  <div id="comments-infos">
    <p>42 050 commentaires</p>
    <p id="sort"><i class="material-icons">sort</i>Trier par</p>
  </div>
  <div id="comment-new">
    <form action="comment"></form>
    <input type="text" name="write-comment" value="Ajouter un nouveau commentaire...">
  </div>
  <div id="all-comments">
    <div class="single-comment">
      <h6>Wake Up Mr. West</h6>
      <p id="timer">il y a 1 an</p>
      <p id="comment-text">How the fuck does Jay cheat on her? Damn bro</p>
      <a href="#">Répondre</a>
      <p id="comments-likes">552 <i class="material-icons">thumb_up</i><i class="material-icons">thumb_down</i></p>
      <a href="#" id="answers-link">Afficher 42 réponses<i class="material-icons">expand_more</i></a>
    </div>
    <div class="single-comment">
      <h6>TK</h6>
      <p id="timer">il y a 3 semaines</p>
      <p id="comment-text">2017 and it’s still a bop 💙💙﻿</p>
      <a href="#">Répondre</a>
      <p id="comments-likes">657 <i class="material-icons">thumb_up</i><i class="material-icons">thumb_down</i></p>
      <a href="#" id="answers-link">Afficher 14 réponses<i class="material-icons">expand_more</i></a>
    </div>
    <div class="single-comment">
      <h6>Izyaa</h6>
      <p id="timer">il y a 4 semaines</p>
      <p id="comment-text">2017?</p>
      <a href="#">Répondre</a>
      <p id="comments-likes">399 <i class="material-icons">thumb_up</i><i class="material-icons">thumb_down</i></p>
      <a href="#" id="answers-link">Afficher 10 réponses<i class="material-icons">expand_more</i></a>
    </div>
  </div>
</div>
